

@media (min-width: 1000px){
    body{
        background-color: blanchedalmond;
        background-image: url("Images/mamamoobg2.jpg");
        background-repeat: no-repeat;
        background-size:cover;
    }

    #index-navigation {
        align-items: center;
        display:flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        height: 100px;
        background-color: #F7EDE5;
        overflow:hidden;
        margin-top: 0%;
        opacity: 0.75;
    }
    #bandname{
        position:fixed;
        font-family: Georgia, serif;
        font-size: 700%;
        text-align: center;
        color:#F7EDE5;
        padding: 20px;
        border: 5px solid #F7EDE5;
        margin-top: 15%;
        margin-left: 32%;
    }    
    .indexnavElement, a:link{
        font-size: 10%;
        border: none;
        background-color: #F5CBAA;
        color:#4a4947;
        font-family: 'Montagu Slab', serif;  
        text-align: center;
        text-decoration: none;
        display: inline-block;
        padding: 14px 25px;
        font-size: 20px;
        width:100px;
        height:50px;
        border-radius: 12px;
        line-height: 50px;
    } 

    #logo{
        padding-top: 10px;
        max-width: 400px;
        list-style-type: none;
    }
    
    html{
        overflow:hidden;
        align-items: center;
    }


}

@media (max-width: 1000px){

    body{   
        background-color: blanchedalmond;
        background-image: url("Images/mamamoo_waw_concept_all_group_3.jpg");
        background-size:cover;
        background-repeat: no-repeat;
        }
    
    #bandname{
         position:fixed;
         font-family: Georgia, serif;
         font-size: 300%;
         text-align: center;
         color:#F7EDE5;
         padding: 20px;
         border: 5px solid #F7EDE5;
         margin-top: 10%;
         margin-left: 30%;
         margin-right:30%;
     }

     #logo{
        padding-top: 10px;
        max-width: 250px;
        
    }
    
    .index-navigation{
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .indexnavElement, a:link{
        border: 2px solid White;
        color: white;
        padding: 14px 25px;
        text-align: center;
        display: inline-block;
        font-size: 10px;
        text-decoration: none;
    }

    .indexnavElement, a:hover {
        
    }
}

